.publish_head{
	padding: 20px;
	color: #333;
	background: #fff;
}
.publish_head .category_bar{
	width: 800px;
	font-size: 14px;
}
.publish_head .category_bar>span{
	line-height: 28px;
	font-weight: 700;
	color: #666;
	position: relative;
	top: 20px;
	left: 5px;
}
.publish_head .category_bar>ul{
	position: relative;
	top: 20px;
}
.publish_head .pub_area{
	width: 260px;
	border-left: 1px solid #e6e6e6;
	text-align: center;
	padding-left: 20px;
}
.publish_head .category_list{
	padding: 5px 6px;
}
.publish_head .category_list:hover{
	background: #ea3524;
	color: #fff;
}
.publish_head .category_list:hover a{
	color: #fff;
}
.publish_head .category_list a{
	font-size: 14px;
	color: #8a4545;
}

.pub_area .total_pub_num{
	padding: 10px 0 20px 35px;
}
.pub_area .total_pub_tip{
	padding: 0 2px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #888;
}
.digital_container>span{
	float: left;
	width: 14px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	margin-right: 1px;
	border: 1px solid #e5e0e0;
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	color: #666;
}
.pub_area .btn_publish{
	width: 165px;
	padding: 10px 20px;
	cursor: pointer;
}

.publish_wrap{
	margin: 20px auto;
	width: 1100px;
}
.publish_wrap>ul{
	margin-right: -12px;
}
.publish_wrap .publish_box{
	width: 266px;
	height: 400px;
	margin: 0 12px 10px 0;
	background: #fff;
	padding: 15px;
	position: relative;
}
.publish_wrap .pub_tit{
	padding: 5px 0 2px 0;
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.publish_wrap .pub_tit>a{
	color: #333;
}
.publish_wrap .pub_ksy{
	padding-top: 5px;
	margin-bottom: 10px;
}
.publish_wrap .pub_ksy>a{
	color: #ea3524;
	font-size: 18px;
}
.publish_wrap .pub_info{
	font-size: 12px;
	color: #999;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.publish_wrap .publish_box>.btn{
	position: absolute;
	bottom: 20px;
	right: 15px;
}