.user_content .left_nav{
  width: 160px;
  min-height: 700px;
  background-color: #ebebeb;
}
.user_content .personal_list>.list_link{
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
}
/*用户页面主页*/
.user_content .main_page{
	padding: 30px 50px;
	background: #fff;
	min-height: 700px;
	color: #3c3c3c;
}
.user_content a{
	color: #3c3c3c;
}
.user_content .my_box{
	padding: 30px;
	background: #f9f9f9;
	width: 840px;
	border: 1px solid #ebebeb;
}
.user_content .user_pic{
	width: 112px;
  height: 112px;
  margin-right: 24px;
  border-radius: 50%;

}
.user_content .nickname{
	font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.user_content .my_grade{
	margin-bottom: 18px;
}
.user_content .my_level{
	margin-right: 7px;
}
.user_content .my_exp_num{
	vertical-align: -1px;
}
.user_content .my_info_l{
	padding-right: 75px;
	border-right: 1px solid #ccc;
}
.user_content .my_info_r{
	padding-left: 50px
}
.user_content .my_info_r p{
	margin-bottom: 18px;
}
.user_content .my_info_r p>span{
	font-weight: 700;
  font-size: 18px;
  color: #ea3524;
  margin-left: 5px;
}

/*列表*/
.user_content .tab_list{
	margin-top: 20px;
	position: relative;
}

.user_content .tab_box{
	text-align: center;
	margin-right: 20px;
}
.user_content .tab_box>a{
	display: block;
	line-height: 38px;
	font-size: 16px;
	color: #3c3c3c;
	padding: 0 10px;
	font-weight: 700;
}
.user_content .tab_line{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	border-bottom: 2px solid #ebebeb;
}    
.user_content .tab_box .tab_scale{
	border-bottom: 2px solid #fff;
	transform: scale(0,1);	
} 
.user_content .tab_box:hover>a{
	color: #ea3524;
}
.user_content .tab_box:hover .tab_scale{
	transform: scale(1,1);	
	transition: all .3s;
	border-bottom: 2px solid #ea3524;
}
.tab_current>.tab{
	color: #ea3524 !important;
}    
.tab_current>.tab_scale{
	border-bottom: 2px solid #ea3524 !important;
	transform: scale(1,1) !important;	
} 

/*内容框*/
.info_content{
	display: none;
}
.current_content{
	display: block;
}
.my_list .my_title{
	background-color: #f5f5f5;
	margin-top: 10px;
	padding: 0 15px;
	line-height: 40px;
}
.my_list .common_box{
	margin-bottom: 25px;
}
.my_list .my_title>a{
	color: #3366cc;
	font-size: 14px;
}
.common_box>li{
	padding: 18px 18px 18px 15px;
	border-bottom: 1px solid #ebebeb;
} 
.common_box li:last-child {
	border-bottom: none;
}
.common_box .headpic{
	border-radius: 50%;
}  
.content_box{
	margin-left: 20px;
	width: 730px;
}
.content_box .content_time{
	font-size: 14px;
	color: #a5a5a5;
}
.content_box .content_goods{
	border: 1px solid #ebebeb;
	padding: 9px;
	width: 520px;
	margin-top: 20px;
}
.content_box .content_info{
	width: 75%;
}
.content_box .content_goods>img{
	margin-right: 10px;
}
.content_box .content_goods_info{
	width: 75%;
	font-size: 14px;
	line-height: 30px;
}
.content_box .content_goods_info a{
	color: #707070;
}
.content_box .content_action{
	margin-top: 5px;	
}
.content_action .remove_collect{
	color: #707070;
}
.content_action .remove_collect:hover{
	color: #ea3524;
}
.publish_statu{
	font-size: 14px;
	margin-top: 10px;
	color: #a5a5a5;
}
.link:hover>a{
	color: #3366cc;
}

/*优惠券*/
.coupon_content{
	font-size: 14px;
}
.coupon_content .coupon_table{
	width: 100%;
	margin-top: 14px;
}
.coupon_table thead{
	border-bottom: 1px solid #d1d1d1;
}
.coupon_table th, .coupon_table td {
	text-align: center;
}
.coupon_table tbody a:hover {
	color: #3366cc;
}
.coupon_table th {
	line-height: 26px;
}
.coupon_table tbody {
	color: #707070;
}
.coupon_table tbody tr {
	height: 40px;
	line-height: 20px;
	border-bottom: 1px solid #f5f5f5;
}
.coupon_table tbody tr:last-child {
	border-bottom: none;
}
.arrow{
	font-family: "SimSun";
	font-weight: 700;
	padding-left: 2px;
}
.coupon_table .coupon_other{
	background-color: #f5f5f5;
}
.coupon_table .coupon_other th {
	min-width: 120px;
	line-height: 35px;
}
